<nav class="navbar navbar-dash">
    <div style="background-color:white;border:1px solid lightgrey;">
        <div class="container">
            <nav>
                <ul class="nav">
                  <li><%= link_to 'Overview', org_dashboard_url(:dashboard_view => "overview") %></li>
                  <li><%= link_to 'Volunteers', org_dashboard_url(:dashboard_view => "volunteers") %></li>
                  <li><%= link_to 'Events', org_dashboard_url(:dashboard_view => "events") %></li>
                </ul>

                <ul class="nav pull-right">
                  <li><%= link_to 'Import', org_dashboard_url(:dashboard_view => "import") %></li>
                  <li><%= link_to 'Export', org_dashboard_url(:dashboard_view => "export") %></li>
                  <li><%= link_to 'Help', org_dashboard_url(:dashboard_view => "help") %></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

<%= render(:partial => "orgs/dashboard/" + @dashboard_view) %>
